/*section_1*/
body {
  margin:0;
  padding:0;
}

.section_1_content{
  display: flex;
  flex-direction:column;
  padding-left: 200px;
  padding-right: 200px;
}


.header{
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.section_container_1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:30%;
  padding-bottom: 5%;

}

.section_1, .footer{
  background-color: #1F2937;
}

ul{
  list-style-type: none;
}

li{
  display: inline;
  padding: 32px;
}

a{
  text-decoration: none;
}


.header_logo{
  color: #F9FAF8;
  font-size: 24px;
}

.section_1_left_header{
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 800;
}

a, .section_1_description, .footer{
  color:#E5E7EB;
  font-size: 18px;
}




/*section_2*/
.section_2{
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
}

.section_2_header{
  color:#1F2937;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding: 3%;
}

.section_2_content{
  display: flex;
  justify-content: center;
  gap: 64px;
  padding-bottom: 30px;
}

.section_2_image {
  width: 120px;
  height: 120px;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #3882f6;

}

.section_2_description{
  color:gray;
  font-size: 13px;
  width: 160px;
}



/*section_3*/
.section_3{
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.section_3_textbox{
  font-size: 36px;
  color: #1F2937;
  font-style:italic;
}

.section_3_textbox_title{
  font-size: 24px;
  color: #1F2937;
  font-weight: 600;
  text-align: end;
}



/*section_4*/
.section_4_content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:32px;
  padding:36px;
  background-color: #3882f6;
  border-radius: 5px;
  margin:100px auto;
  color: #f9faf8;
  flex-flow: row wrap;
  width: 800px;
}


.section_4_header{
  font-weight: 600;
  font-size: 28px;
}


.section_4_description{
  font-size: 20px;
}

.section_4_button{
  color:#E5E7EB;
  background-color:#3882f6;
  border: 2px solid #E5E7EB;
  border-radius: 25px;
}

.footer{
  display: flex;
  justify-content: center;
}
