/*section_1*/
.header{
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.section_container_1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:24px;
}

.section_1, .footer{
  background-color: #1F2937;
}

ul{
  list-style-type: none;
}

li{
  display: inline;
  padding: 32px;
}

a{
  text-decoration: none;
}


.header_logo{
  color: #F9FAF8;
  font-size: 24px;
}

.section_1_left_header{
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 800;
}

a, .section_1_description, .footer{
  color:#E5E7EB;
  font-size: 18px;
}




/*section_2*/
.section_2{
  display: flex;
  flex-direction: column;
}

.section_2_header{
  color:#1F2937;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.section_2_content{
  display: flex;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  gap: 20px;
}

.section_2_image {
  width: 120px;
  height: 120px;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #3882f6;
  margin: 0;
}

.section_2_description{
  color:gray;
  font-size: 9px;
  text-align: center;
}



/*section_3*/
.section_3{
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
}

.section_3_textbox{
  font-size: 36px;
  color: #1F2937;
  font-style:italic;
}

.section_3_textbox_title{
  font-size: 24px;
  color: #1F2937;
  font-weight: 600;
  text-align: end;
}



/*section_4*/
.section_4{
  background-color:#3882f6;
  color:#E5E7EB;
}

.section_4_header{
  font-weight: 600;
  font-size: 28px;
}

.section_4_description{
  font-size: 20px;
}

.section_4_button{
  color:#E5E7EB;
  background-color:#3882f6;
  border: 2px solid #E5E7EB;
  border-radius: 10px;
  font-size: 24px;
  padding: 10px;
}
