/*section_1*/

.section_1{
  background-color: #1F2937;
}

.header_logo{
  color: #F9FAF8;
  font-size: 24px;
}

.section_1_left_header{
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 800;

}

a, .section_1_description{
  color:#E5E7EB;
  font-size: 18px;
}

/*section_2*/
.section_2_header{
  color:#1F2937;
  font-size: 36px;
  font-weight: 800;
}

.section_2_image {
  width: 120px;
  height: 120px;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #3882f6;
  margin: 0;
}

.section_2_description{
  color:gray;
}

/*section_3*/
/*section_4*/
